DISCORD_CLIENT_ID=1531476186470023281
DISCORD_CLIENT_SECRET=PASTE_SECRET_HERE

DISCORD_REDIRECT_URI=http://localhost:3001/api/auth/discord/callback

DISCORD_GUILD_ID=1220113679673196624
DISCORD_ROLE_LEADQA_ID=1368443378022223923
DISCORD_ROLE_QA_ID=1227958798333906966
DISCORD_ROLE_DEV_ID=1225365211406405711

APP_ORIGIN=http://localhost:5173
COOKIE_SECRET=GENERATE_A_LONG_RANDOM_SECRET

NODE_ENV=development
PORT=3001
SESSION_TTL_HOURS=8
ROLE_RECHECK_SECONDS=300
